@model ECommerceWebsite.Models.ProductModel

@section cssFile
{
    @Styles.Render("~/Product/css")
}

<div class="main-card-prod-page m-5">
    <div id="upperBackgroundColor">
        <div class="row m-5">

            <div class="col-md-8">
                <section class="prod-image">
                    <ul id="lightSlider">
                        <li data-thumb="@Model.ImagePath_1">
                            <img src="@Model.ImagePath_1" />
                        </li>
                        <li data-thumb="@Model.ImagePath_2">
                            <img src="@Model.ImagePath_2" />
                        </li>
                        <li data-thumb="@Model.ImagePath_3">
                            <img src="@Model.ImagePath_3" />
                        </li>
                        <li data-thumb="@Model.ImagePath_4">
                            <img src="@Model.ImagePath_4" />
                        </li>
                    </ul>
                </section>
            </div>

            <div class="col-md-4" id="prodDetails" style="align-items: center;">

                <h1 id="prodDetsHeader" class="headings-for-page">@Model.Name</h1>

                <div class="price-tag">
                    <span>₹ @Model.Price</span>
                    <span id="outOfStock" style="color: red;"></span>
                </div>
                <div>
                    <hr>
                    <span id="descriptionDets"></span>
                    <p>
                        @Model.Description
                    </p>
                </div>

                <div style="margin-top:3vh;">
                    <span style="font-weight: 600; ">Select Size</span>
                    <label for="termsAndConditions">
                        <span id="terms-label" data-bs-toggle="modal" data-bs-target="#sizeChart">
                            Size Guide <i class="fa fa-arrow-right"></i>
                        </span>
                    </label>
                    <div class="modal fade" id="sizeChart" tabindex="-1" aria-labelledby="sizeChartLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 headings-for-page" id="sizeChartLabel">Size Chart</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="../images/sizeChart.png" alt="sizeChart" width="100%">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="size-table">
                    <select name="size" id="size">
                        <option value="0">SIZE</option>
                        <option value="1">3 UK</option>
                        <option value="2">4 UK</option>
                        <option value="3">5 UK</option>
                        <option value="4">6 UK</option>
                        <option value="5">7 UK</option>
                        <option value="6">8 UK</option>
                        <option value="7">9 UK</option>
                        <option value="8">10 UK</option>
                        <option value="9">11 UK</option>
                    </select>
                </div>

                <div class="add-cart-price">
                    <div class="add-cart-button">
                        <button onclick="addToCartClicked()" id="cartAddButton"><i class="fa fa-shopping-bag"></i> Add to Cart</button>
                    </div>
                    <div class="add-cart-button">
                        <button onclick="addToWishlistClicked()" id="wishlistAddButton"><i class="fa fa-heart"></i> Wishlist</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row prod-brief m-5">
        <center>
            <h2 class="headings-for-page">Similar Products</h2>
        </center>
        <div class="main-box" id="similarProductsMainBox">
            @Html.Partial("_ProductList", Model.SimiliarProducts)
        </div>
    </div>
    <hr>

    <div class="row prod-brief m-5">
        <div id="reviewDets">
            <h3 class="headings-for-page">Reviews</h3>
            <hr>
            @if (ECommerceWebsite.Utilities.AuthenticationUtility.IsLoggedIn)
            {
                <div class="personal-review-submit">
                    <div id="personDetsSection">
                        <img src="../images/aaditya_profile.jpeg" alt="Profile" class="user_profileImage">
                        <span id="user_profileEmail">
                            @ECommerceWebsite.Utilities.AuthenticationUtility.CurrentCustomer.FullName
                        </span>
                    </div>
                    <div class="reviewForm">
                        <select name="review" id="dropReview">
                            <option value="1">Average</option>
                            <option value="2">Good</option>
                            <option value="3">Poor</option>
                        </select>
                        <textarea id="messageReview" cols="30" rows="10" placeholder="Your Message"></textarea>
                        <button value="submit" onclick="submitReview()">SUBMIT</button>
                    </div>
                </div>
            }
            else
            {
                <div class="review-login-check">
                    <a href="@Url.Action("Index", "LoginSignup", new { id = "" }) "><button id="reviewLoginButton"><i class="fa fa-user"></i> Login to Give Review</button></a>
                </div>
            }

            <center>
                <hr width="60%">
            </center>

            <div id="otherReviews">
                @for (int i = 0; i < 3; i++)
                {
                    if (i < Model.Reviews.Count)
                    {
                        <div class="review-card">
                            <div id="userDetsSection">
                                <img src="../images/aaditya_profile.jpeg" alt="Profile" class="user_profileImage">
                                <span id="user_profileEmail">
                                    @Model.Reviews[i].Customer_Name
                                </span>
                            </div>
                            <center><hr></center>
                            <div class="user_review">
                                <span id="userExperience">@Model.Reviews[i].Liking</span>
                                <p>@Model.Reviews[i].Description</p>
                            </div>
                        </div>
                    }
                }
            </div>

            <h4 id="hiddenReviewLayoutClick" class="headings-for-page">Other Reviews</h4>
            <div class="outer-div-review">
                <div class="hidden-otherReview" id="hiddenReviews">
                    @for (int i = 3; i < Model.Reviews.Count; i++)
                    {
                        <div class="review-card">
                            <div id="userDetsSection">
                                <img src="../images/aaditya_profile.jpeg" alt="Profile" class="user_profileImage">
                                <span id="user_profileEmail">
                                    @Model.Reviews[i].Customer_Name
                                </span>
                            </div>
                            <center><hr></center>
                            <div class="user_review">
                                <span id="userExperience">@Model.Reviews[i].Liking</span>
                                <p>@Model.Reviews[i].Description</p>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

    <center><hr><h3 class="headings-for-page" onclick="goToShop()" id="viewMoreProducts">View More Products</h3></center>
    <hr>
</div>

@section scriptFile
{
    @Scripts.Render("~/Product/js")
}