@model ECommerceWebsite.Models.CartModel

@section cssFile
{
    @Styles.Render("~/Cart/css")
}

<div style="display: flex; justify-content:center;">
    <div class="card m-4 ">
        <div class="row">
            <div class="col-md-9 cart" id="mainCart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4 class="headings-for-page">Shopping Cart</h4>
                            <span id="cartItemCountCart">Items </span>
                        </div>
                    </div>
                </div>

                <div id="cartProducts" onchange="calcPriceFinal()">
                    @for (int i = 0; i < Model.ProductList.Count; i++)
                    {
                        <div class="row main align-items-center cart-item">
                            <div class="col-3 "><img class="img-fluid cart-prod-image" src="@Model.ProductList[i].ImagePath_1"></div>
                            <div class="col p-2">
                                <div class="row text-muted">@Model.ProductList[i].Category</div>
                                <div class="row">@Model.ProductList[i].Name</div>
                            </div>

                            <div class="col cart-quantity">
                                <input type="number" name="@string.Format("cartQuantityProduct_{0}", (i+1))" onchange="changeQuantity(this, @Model.ProductList[i].ID)" id="@string.Format("cartQuantityProduct_{0}", (i+1))" value="@Model.Quantity[i]" min="1" max="9">
                            </div>

                            <div class="col">
                                <span id="@string.Format("basePriceProduct_{0}", (i+1))" style="display: none;">@Model.ProductList[i].Price</span>
                                <span>₹</span><span id="@string.Format("productFinal_{0}", (i+1))">@(Model.ProductList[i].Price * Model.Quantity[i])</span>
                            </div>

                            <div class="col"><span class="fa fa-times-circle" onclick="deleteItemFromCart(this.parentElement, @Model.ProductList[i].ID)"></span></div>
                            <hr>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-3 summary">
                <div><h5 class="headings-for-page">Summary</h5></div>
                <hr>
                <div class="row">
                    <div class="col" id="cartItemCountSummary" style="padding-left:0;">ITEMS 3</div>
                    <div class="col text-right">₹<span id="finalSummaryPrice"></span></div>
                </div>
                <form>
                    <p>SHIPPING</p>
                    <textarea name="addressField" id="addressField" cols="23" rows="2" placeholder="Address" required></textarea>
                    <select id="shippingCharges" onchange="calcPriceFinal()"><option value="0">Standard-Delivery- ₹ 200 </option><option value="1">Fast Delivery -  ₹ 400</option></select>
                    <p>GIVE CODE</p>
                    <input id="code" placeholder="Enter your code">
                    <span class="btn" onclick="calcPriceFinal()">APPLY CODE</span>
                    <center><span id="applyCodeResult"></span></center>
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">₹<span id="checkoutPrice"></span></div>
                </div>
                <button class="btn">CHECKOUT</button>
            </div>
        </div>

    </div>
</div>

@section scriptFile
{
    @Scripts.Render("~/Cart/js")
}
