@model ECommerceWebsite.Models.CartModel

@section cssFile
{
    @Styles.Render("~/WishList/css")
}

<div style="display: flex; justify-content:center;">
    <div class="card m-4 ">
        <div class="row">
            <div class="col-md-12 wishlist">

                <div class="title">
                    <div class="row">
                        <div class="col wishlist-head">
                            <h4 class="headings-for-page"><b>MY WISHLIST</b></h4>
                            <span id="wishlistItemCount">Items </span>
                        </div>
                    </div>
                </div>

                <div id="wishlistProducts" class="text-center">
                    @for (int i = 0; i < Model.ProductList.Count; i++)
                    {
                        <div class="row main align-items-center wishlist-item">
                            <div class="col "><img class="img-fluid wishlist-prod-image" src="@Model.ProductList[i].ImagePath_1"></div>
                            <div class="col p-2">
                                <div class="row text-muted" style="justify-content: center;">@Model.ProductList[i].Category</div>
                                <div class="row" style="justify-content: center;">@Model.ProductList[i].Name</div>
                            </div>
                            <div class="col">
                                <span>$</span><span>@Model.ProductList[i].Price</span>
                            </div>
                            <div class="col">
                                @if (Model.ProductList[i].IsInCart == true)
                                {
                                    <button class="btn add-to-cart-clicked" disabled>Added to Cart</button>
                                }
                                else
                                {
                                    <button class="btn" onclick="addToCart(this, @Model.ProductList[i].ID)">Add to Cart</button>
                                }
                            </div>
                            <div class="col"><span class="fa fa-trash" onclick="deleteItemFromwishlist(this.parentElement, @Model.ProductList[i].ID)"></span></div>
                            <hr>
                        </div>
                    }
                </div>

            </div>

        </div>

    </div>
</div>

@section scriptFile
{
    @Scripts.Render("~/WishList/js")
}